
<table>
 <% @user ||= current_user %>
<div class="stats">
  <tr>
  <th>following</th>
  <th>
    <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    
  </a></th>

</tr>
<tr>
  <th>followers</th>
  <th><a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a></th>
</tr>
</div>
</table>